body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.error {
  color: #e53a39;
}

.marker {
  stroke: #e53a39;
}

.popup {
  max-width: 400px;
  padding: 1rem;
}

.popup img {
  height: 200px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.marker-add {
  stroke: #f3b73e;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}
